#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #373636;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.mainCards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #3B4CCA;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 12px;
}
.mainCards:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 10px #FFCC00;
}
.mainCards::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255,255,255,0.1) 10%, transparent 10.01%);
    background-size: 50px 50px;
    transition: transform 0.5s;
}
.mainCards:hover::before {
    transform: translate(33%, 33%);
}
.mainCardsIconText {
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: wheat;
    border-radius: 10px;
    border: 1px solid #333;
    box-shadow: rgb(23, 23, 23) 0 0 5px;
}
.detailCards {
    display: none;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 320px;
    background-color: #FFCC00;
    border: 5px solid #3B4CCA;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh; /* Maximale Höhe auf 90% des Viewports beschränken */
    max-width: 90vw; /* Maximale Breite auf 90% des Viewports beschränken */
    overflow: hidden; /* Scrollbar direkt am äußeren Rand verhindern */
}

/* Innerer Wrapper für Scrollen */
.detailCards-content {
    padding-right: 10px; /* Platz für Scrollbar schaffen */
    overflow-y: auto; /* Vertikales Scrollen aktivieren */
    overflow-x: hidden; /* Horizontales Scrollen vermeiden */
    max-height: 100%; /* Begrenzung der Höhe innerhalb des Containers */
}

/* Scrollbar-Styling */
.detailCards-content::-webkit-scrollbar {
    width: 8px; /* Breite der Scrollbar */
}

.detailCards-content::-webkit-scrollbar-thumb {
    background-color: #3B4CCA; /* Farbe der Scrollbar */
    border-radius: 4px; /* Abgerundete Scrollbar */
}

.detailCards-content::-webkit-scrollbar-track {
    background: transparent; /* Transparenter Hintergrund für die Scrollbar */
}


.detailCardImage {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.innerDetailCards {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.mainCardImage{
    width: 100px;
}
.typeIcon {
    width: 15px;
    object-fit: cover;
}

