.loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pokeBallContainer {
    width: 200px;
    height: 200px;
}
svg {
    animation: spin 3s linear infinite;
    transform-origin: center;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}