@media (max-width: 430px) {
    body {
        font-size: 12px;
    }
    .headerDiv {
        flex-direction: column;
        height: 55px;
        padding: 5px;
    }
    .logo {
        width: 150px;
    }
    button {
        font-size: 8px;
        padding: 3px 5px;
    }
    input {
        font-size: 8px;
        padding: 3px;
    }
    .mainCards {
        font-size: 10px;
    }
    .mainCardImage {
        width: 60px;
    }
    .typeIcon {
        width: 10px;
    }
    .detailCards {
        width: 90%;
        max-height: 80vh;
    }
}