body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #212020;
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.contentMax{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.centerIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}