body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #011737;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #FFCC00;
}
.headerDiv {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #3B4CCA;
    background-color: #FF1E1E;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
}
.logo{
    width: 200px;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.contentMax{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.centerIcons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
button {
    background-color: #FFCC00;
    border: 2px solid #3B4CCA;
    color: #2A2A2A;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 4px #B5B5B5;
}
button:hover {
    background-color: #3B4CCA;
    color: #FFF;
    box-shadow: 0 4px #1E1E1E;
    transform: scale(1.1);
}
button:active {
    background-color: #FF1E1E;
    box-shadow: 0 2px #6B6B6B;
    transform: translateY(2px);
}
footer {
    color:#FFF;
    background-color: #FF1E1E;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    height: 60px;
}
input {
    border: 2px solid #3B4CCA;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
